{% extends 'base.html.twig' %}

{% block title %}Delete client{% endblock %}

{% block body %}

    <div id="deleteEmployeeModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{{ url('client_delete', { id: client.id }) }}" method="POST">
                    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
                    <div class="modal-header">						
                        <h4 class="modal-title">Delete client</h4>
                    </div>
                    <div class="modal-body">					
                        <p>Are you sure you want to delete {{ client.name }} {{ client.surname }}</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                    </div>
                    <div class="modal-footer">
                        <a href="/" class="btn btn-default">Cancel</a>
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}